.add-product-form{
    margin-top: 30px;
    display: flex;
    gap: 5px;
}

.form-control{
    border: none;
    border-bottom: 1px solid #aaa;
    outline: none;
    
}

.form-btn{
    border: none;
    background-color: #fff;
    cursor: pointer;
}
