.product-card{
    background-color: #ddd;
    border-radius: 15px;
    width: fit-content;
    padding: 10px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.btn-delete{
    border: none;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
}